<nav class="navbar navbar-inverse  bg-info dker  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed bg-info" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-white" href="#">App Services</a>
        </div>
        <div  id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left" data-ng-show="navCtrl.isAuthenticated">
                <li>
                    <a data-ui-sref="profile" class="btn-info">Profile</a>
                </li>
                <li>
                    <a  data-ui-sref="services" class="btn-info">My Services</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-hide="navCtrl.isAuthenticated">
                <li>
                    <form data-ng-submit="navCtrl.signIn()" class="navbar-form">
                        <div class="form-group">
                            <input data-ng-model="navCtrl.user.email" type="email" placeholder="Email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input data-ng-model="navCtrl.user.password" type="password" placeholder="Password" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-info pull-right">Register</button>
                        <button type="submit" class="btn btn-info pull-right">Sign in</button>
                    </form>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-ng-show="navCtrl.isAuthenticated">
                <li>
                    <span class="navbar-text" data-ng-bind="navCtrl.user.name"></span>
                </li>
                <li>
                    <a data-ng-click="navCtrl.logout()" class="btn-info text-lg"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>