<ngc-navbar data="'test'"></ngc-navbar>
<div class="container bg-light m-t-xl">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 data-ng-bind="mainCtrl.title"></h1>

           <div data-ng-init="show = true">
              <button data-ng-mouseleave="show = !show" data-ng-mouseover="show = !show" data-ng-click="show = !show" class="btn btn-info" data-ng-bind="show ? 'hide' : 'show'"></button>
              <div data-ng-hide="show">hide</div>
              <div data-ng-show="show">Show</div>
           </div>
           <div  data-ng-init="text='test'" data-ng-click="focus = true" data-ng-blur="focus = false">
              <div data-ng-show="focus">
                 <input data-ng-model="text" type="text"/>
              </div>

              <div data-ng-hide="focus" data-ng-bind="text"></div>
           </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 m-b m-t">
            <nav class="navbar nav-justified navbar-default padder">
                <form action="" class="navbar-form navbar-nav">
                    <div class="form-group">
                        <i class="fa fa-filter"></i>
                    </div>
                    <div class="form-group">
                        <input type="text" data-ng-change="mainCtrl.change()" class="form-control" data-ng-model="mainCtrl.params.name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <select class="form-control" data-ng-change="mainCtrl.changeFilter()" data-ng-model="mainCtrl.selectedCategory" data-ng-options="category.name for category in mainCtrl.categories"></select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" data-ng-model="mainCtrl.params.description"  placeholder="Description">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" min="1" step="0.01" data-ng-model="mainCtrl.params.min"  placeholder="Price">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control w-3x" min="1" step="0.01" data-ng-model="mainCtrl.params.max"  placeholder="Price">
                    </div>
                    <div class="form-group">
                        <button data-ng-click="mainCtrl.filter()" class="btn navbar-btn btn-success">Send</button>
                    </div>
                    <div class="form-group">
                        <a data-ng-click="mainCtrl.reset()"><i class="fa fa-refresh"></i></a>
                    </div>
                </form>
            </nav>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6" data-ng-repeat="(key, value) in mainCtrl.services">
            <div class="panel b-a">
                <div class="panel-heading wrapper-xs bg-info dker no-border">
                    <div class="wrapper text-center">
                        <h4 class="text-u-c m-b-none text-2x" data-ng-bind="value.name"></h4>
                        <h2 class="m-t">
                            <sup class="pos-rlt" style="top:-5px">$</sup>
                            <span class="text-lt" data-ng-bind="value.price"></span>
                        </h2>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" style="overflow-y: scroll; height: 80px">
                        <b>Description</b>   {{ value.description }}
                    </li>
                    <li class="list-group-item">
                        <b>Category</b> {{ value.category.name }}
                    </li>
                    <li class="list-group-item">
                        {{ value.user.email }}
                    </li>
                    <li class="list-group-item">
                        <b>Phone</b> {{ value.user.profile.phone }}
                    </li>
                    <li class="list-group-item">
                        <b>Cell Phone</b> {{ value.user.profile.cellphone }}
                    </li>
                </ul>
                <div class="panel-footer text-center">
                    {{ value.updated_at | date: 'EEEE, MMMM d, y'}}
                </div>
            </div>
        </div>
    </div>
    <div class="row content-padding">
        <div data-ng-if="mainCtrl.loaded" class="text-center col-md-12" >
            <uib-pagination
                    total-items="mainCtrl.totalItems" ng-model="mainCtrl.params.page" max-size="mainCtrl.maxSize"
                    class="pagination-md" ng-change="mainCtrl.pageChanged()" boundary-links="true"
                    items-per-page="mainCtrl.params.pageSize" rotate="false" num-pages="mainCtrl.numPages">
            </uib-pagination >
        </div>
    </div>
    <hr>

    <footer>
        <p>&copy; 2015 Company, Inc.</p>
    </footer>
</div> <!-- /container -->
