.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #1199c4;
}
.navbar-inverse .navbar-toggle {
    border-color: #1199c4;
}

.navbar-inverse .navbar-brand {
    color:  white;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #1199c4 !important;
}
.navbar-inverse .navbar-text {
    color: white;
}

.padder-sm {
    padding-left: 5px;
    padding-right: 5px;
}