<ngc-navbar></ngc-navbar>

<div class="container bg-light m-t-xl">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 data-ng-bind="profileCtrl.title"></h1>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 m-b m-t">

        </div>

    </div>

    <hr>

    <footer>
        <p>&copy; 2015 Company, Inc.</p>
    </footer>
</div> <!-- /container -->
